<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao Blog de Node</h1>
  <p class="lead">Projeto básico de BLOG, desenvolvido utilizando Node.js, Express e MongoDB</p>
  <hr class="my-4">
  <p>Aqui você pode ler sobre as novidades do mundo da computação</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes:</h2>


{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small>Categoria: {{categoria.nome}}</small>
            <br>
            <small>Data de publicação: {{data}}</small>
        </div>
    </div>
{{else}}
    <h5 class="mt-4">Nenhuma postagem</h5>
{{/each}}