<style>
    /* Mobile size */
    @media only screen and (max-width: 767px) {
        #welcome {
            font-size: 22px;
            font-weight: bold
        }
        #msg {
            font-size: 20px;
        }
        #img {
            width: 125px;
        }
    } 

    #home {
        border-bottom: 4px solid blue;
    }  
</style>

<div class="jumbotron">
  {{#if user}}
    {{#if ehAdmin}}
        <div class="float-right">
            <img id="img" src="img/admin.png" width="200px">
        </div>
    {{else}}
        <div class="float-right">
            <img id="img" src="img/usuario.png" width="200px">
        </div>    
    {{/if}}
    <h1 class="display-4" id="welcome">Bem-vindo ao Blog, <br> {{user.nome}}!</h1>
  {{else}}
    <h1 class="display-4">Bem-vindo ao Blog!</h1>
  {{/if}}
  
  <p class="lead" id="msg">Projeto básico de BLOG, desenvolvido utilizando Node.js, Express e MongoDB</p>
  <br>
  <hr class="my-4">
  {{#if user}}
    {{#if ehAdmin}}
        <h3>Gerenciamento do blog: </h3>
        <a class="btn btn-primary btn-lg" href="/admin/categorias" role="button">Categorias</a>
        <a class="btn btn-primary btn-lg" href="/admin/postagens" role="button">Postagens</a>
    {{else}}
        <h3>Divirta-se no blog, navegue pelos posts: </h3>
        <a class="btn btn-primary btn-lg" href="/categorias" role="button">Categorias</a>
    {{/if}}
  {{else}}
    <h3>Faça parte do blog, registre-se agora: </h3>
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Criar conta</a>
    <a class="btn btn-primary btn-lg" href="/usuarios/login" role="button">Logar</a>
  {{/if}}
</div>

<hr>

<h2>Postagens recentes:</h2>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small>Categoria: {{categoria.nome}}</small>
            <br>
            <small>Data de publicação: {{data}}</small>
            <br>
            <small>Autor: {{autor}}</small>
        </div>
    </div>
{{else}}
    <h5 class="mt-4">Nenhuma postagem</h5>
{{/each}}