<style>
    #categorias {
        border-bottom: 4px solid blue;
    }  
</style>

<h1>Postagens sobre {{categoria.nome}}</h1>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small>Data de publicação: {{data}}</small>
            <br>
            <small>Autor: {{autor}}</small>
        </div>
    </div>
{{else}}
    <h5 class="mt-4">Nenhuma postagem</h5>
{{/each}}